@use 'variables' as v;
@mixin telefono {
    @media (min-width: v.$telefono) and (max-width: calc(v.$tablet - 1px)) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) and (max-width: calc(v.$escritorio - 1px)) {
        @content;
    }
}

@mixin grid($columnas: 1, $gap: 3rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}
