@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Variables de los colores  */
$fondo:#ffffff;
$button:#00bf63; 
$buttonHover:#88bdbc;
$sectionHero:#bbaa8e;
$sectionNavBar:#34495e;

//variables tipografia
$tituloComic: 'Bangers', sans-serif;