.categoria-section{
    width: 96%;
    height: 100vh;
    
    margin: auto;
 .cards-container{
    width: 100%;
    height: 80%;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2 rem;
    
    .cards{
        padding: 10px;
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction:column;
        
        gap: 1rem;
        border: 1px solid black;
        .cont-card{
            display: flex;
            flex-direction:row;
            gap: 1rem;
            .libro-imagen{
                width: 50%;
                img{
                    width: 100%;
                }
                
            }
            .info{
                width: 50%;
                display: flex;
                flex-direction:column;
                gap: 1rem;

                }

            }
            .cont-btn{
                margin: auto;
                button{
                    border-radius: 16px;
                }
            }


    }

    

    }
}