@use 'base/variables' as v;
@use 'base/mixins' as m;

.cont_cards_comics {
    height: 100vh;
    width: 100%;
    background-size: contain;
    margin-bottom: 3rem;

    h1 {
        font-size: 2.8rem;
        margin-top: 2rem;
        text-align: center;
        color: black;
        font-family: v.$tituloComic;
        -webkit-text-stroke: 1px yellow;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../img/fondoComic/fondoComic.webp);
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        z-index: -1;
    }

    .contenedor {
        position: relative;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
        gap: 1rem;

        .opPanel {
            flex: 2;
            height: 90vh;
            position: relative;
            border-radius: 20px;
            cursor: pointer;
            pointer-events: auto;
            overflow: hidden;
            transition: flex 0.7s ease-in-out;
            padding: 1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: transform 0.7s ease-in-out;
            }

            /* Overlay */
            .overlay {
                position: absolute;
                inset: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                text-align: center;
                color: white;
                opacity: 0;
                pointer-events: none !important;
                transition: opacity 0.5s ease;

                h1 {
                    font-size: 2rem;
                }

                button {
                    padding: 10px 20px;
                    border: none;
                    background: crimson;
                    color: white;
                    font-size: 1rem;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background 0.3s;
                    margin-bottom: 2rem;

                    &:hover {
                        background: darkred;
                    }
                }
            }

            &.active {
                flex: 10;
                z-index: 5;

                .overlay {
                    opacity: 1;
                    pointer-events: auto !important;
                }
            }
        }
    }
}
@include m.telefono {
    .cont_cards_comics {
        height: auto;
        .contenedor {
            flex-direction: column;
            .opPanel {
                max-height: 280px;
                width: 100%;
                .overlay {
                    h1 {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}
