@use 'base/variables' as v;
.cont_cards_comics {
    height: 100vh;
    width: 100%;
    background-size: contain;
    h1 {
        font-size: 2.8rem;
        margin-top: 2rem;
        text-align: center;
        color: black;
        font-family: v.$tituloComic;
        -webkit-text-stroke: 1px yellow;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/P-ginaLibreria/img/fondoComic/fondoComic.webp);
        background-size: cover;
        background-position: center;
        filter: blur(5px); /* Aquí sí se aplica el desenfoque */
        z-index: -1;
    }
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
        gap: 1rem;
        .opPanel {
            flex: 2; /* todas empiezan con el mismo tamaño */
            height: 90vh;
            position: relative;
            border-radius: 20px;
            cursor: pointer;
            overflow: hidden;
            transition: flex 0.7s ease-in-out;
            padding: 1rem; /* animación suave */

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: transform 0.7s ease-in-out;
                position: relative;
            }
            /* Elementos superpuestos */
            .overlay {
                position: absolute;
                inset: 0; /* ocupa toda la tarjeta */
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                color: white;
                text-align: center;
                opacity: 0; /* ocultos por defecto */
                pointer-events: none;
                transition: opacity 0.5s ease;
                h1 {
                    font-size: 2rem;
                }
                button {
                    padding: 10px 20px;
                    border: none;
                    background: crimson;
                    color: white;
                    font-size: 1rem;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background 0.3s;
                    margin-bottom: 2rem;
                    &:hover {
                        background: darkred;
                    }
                }
            }
            &.active {
                flex: 10; /* la tarjeta activa será más grande */
            }
            /* Solo se muestra cuando está active */
            &.active .overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
