@use 'base/variables' as v;
@use 'base/mixins' as m;
.descuento {
    background-color: v.$buttonHover;
    border-radius: 12px;
    width: 92%;
    margin: auto;
    padding: 1.5rem;
    h1,
    h4 {
        text-align: center;
    }
    h4 {
        color: white;
        font-size: 24px;
    }
    .cont-descuento {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        @include m.telefono {
            @include m.grid();
        }
        @include m.tablet {
            @include m.grid(2);
        }
        .card-descuento {
            position: relative;
            background-color: white;
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 12px;
            box-shadow: 5px 5px 10px;
            opacity: 1;
            transition: all 0.8s;
            &:hover {
                opacity: 0.9;
            }

            .img-descuento {
                position: relative;
                margin-top: 12px;
                width: 90%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    border-radius: 12px;
                    width: 100%;
                    height: 98%;
                    cursor: pointer;
                    object-fit: cover;
                    scale: 100%;
                    transition: scale 0.8s ease;
                    &:hover {
                        scale: 102%;
                    }
                }
                .descuento-target {
                    position: absolute;
                    top: 0;
                    right: -4%;
                    color: rgb(102, 100, 100);
                    font-size: 24px;
                    font-weight: bold;
                    padding: 5px 10px;
                    z-index: 2;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 65px;
                        height: 55px;
                        background: gold;
                        clip-path: polygon(0 0, 100% 100%, 100% 0);
                        z-index: -1;
                    }
                }
            }
            .info-descuento {
                text-align: center;
                font-size: 20px;
                .precios {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 4rem;
                    .precio-ant {
                        text-decoration: line-through;
                        color: gray;
                    }
                }
                .btn-descuento {
                    margin: auto !important;
                    margin-bottom: 1rem !important;
                }
            }
            .btn {
                margin-bottom: 15px;
            }
        }
    }
}
