@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    position: relative;
    background-color: #00000000; // el color café
    color: white;
    padding-top: 50px; // espacio para que no pise la curva
    text-align: center;
}

.custom-shape-divider-top-1758579916 {
    position: absolute;
    top: -1px; // para que no quede un gap
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758579916 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.2px);
    height: 220px;
    z-index: -1;
}

.custom-shape-divider-top-1758579916 .shape-fill {
    fill: #8c705d; // mismo color del footer
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    z-index: 10;
    position: relative;

    .der {
        p {
            margin-top: 4.2rem;
        }
    }

    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        a {
            display: flex;
            gap: 0.4rem;
            margin-bottom: 10px;
            color: white;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }

            svg {
                color: v.$sectionNavBar;
            }
        }
        .tiktok {
            margin-right: 20px;
        }
    }
}

.cont-logo {
    margin-top: 2.5rem;
    .cont-image {
        img {
            width: 40px;
            height: auto;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    h1 {
        font-size: 20px;
        margin: 0;
    }
}

@include m.telefono {
    .custom-shape-divider-top-1758579916 {
        opacity: 0;
    }
    .contenido-footer {
        background-color: #8c705d;
        flex-direction: column;
        padding: 1rem;
        .der {
            p {
                margin-top: 1rem;
            }
        }
        .redes {
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            margin-top: 1rem;
        }
        .cont-logo {
            margin-top: 2rem;
            .cont-image {
                img {
                    width: 10rem;
                    height: auto;
                    border-radius: 6px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }
            }

            h1 {
                font-size: 20px;
                margin: 0;
            }
        }
    }
}
