@use 'base/variables' as v;
@use 'base/mixins' as m;
.heroLibro {
    margin-top: 7rem;
    height: 90vh;
    background: linear-gradient(90deg, #fff 50%, v.$sectionHero 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .libro {
        display: flex;

        box-shadow: 5px 8px 5px #573701;
        input {
            display: none;
        }
        .portada {
            width: 450px;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .paginas {
            width: 450px;
            height: 500px;
            position: relative;
            perspective: 1500px;
            .pagina-voltear {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform-origin: left;
                transform-style: preserve-3d;
                transform: rotate(0deg);
                transition: 2s;
                color: #000;
                .pagina-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    box-sizing: border-box;
                    padding: 0 13px;
                    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px
                        rgba(0, 0, 0, 0.5);
                    h1,
                    h3 {
                        width: 100%;
                        color: v.$button;
                    }
                }
                .contraportada {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    transform: rotateY(180deg);
                    backface-visibility: hidden;
                    background-color: #000;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
.next-btn,
.back-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;

    cursor: pointer;
    min-width: max-content;
    padding: 8px 20px;
    white-space: nowrap;
    color: v.$button;
    font-weight: 900;

    border-radius: 12px;
    background-color: v.$button;
    color: white;
    width: 60px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    &:hover {
        border-radius: 12px;
        background-color: v.$buttonHover;
        color: white;
    }
}
.back-btn {
    left: 2rem;
}

#p1 {
    z-index: 4;
}
#p2 {
    z-index: 3;
}
#p3 {
    z-index: 2;
}
#p4 {
    z-index: 1;
}
#c1:checked ~ .paginas #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .paginas #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .paginas #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}
#c4:checked ~ .paginas #p4 {
    transform: rotateY(-180deg);
    z-index: 4;
}

//Diseño responsivo
@include m.telefono {
    .heroLibro {
        height: 50vh;
        margin-top: 14rem;
        margin-bottom: 4rem;
        padding: 1rem;
    }
    .libro {
        width: 100%;
        .pagina-info {
            padding: 10px;
            font-size: 0.7rem;
        }

        .next-btn,
        .back-btn {
            width: 50px;
            font-size: 0.8rem;
            bottom: 8px;
        }
    }
}

//Diseño responsivo
@include m.tablet {
    .heroLibro {
        height: 50vh;
        margin-top: 10rem;
        margin-bottom: 4rem;
        padding: 1rem;
    }
}
@include m.tablet {
    .heroLibro {
        height: 60vh;
    }
    .libro {
        width: 100%;
        .pagina-info {
            padding: 10px;
            font-size: 1rem;
        }
        .next-btn,
        .back-btn {
            width: 50px;
            font-size: 0.8rem;
            bottom: 8px;
        }
    }
}
