
.Categorias {
  width: 250px;
  height: 300px;
    background-color: aqua;
}
  .menu-container {
    position: relative;
    width: 100%;
    background-color: rgb(212, 123, 13);
  }
 




.menu-button {
  display: block;
  background: #333;
  color: white;
  padding: 12px;
  text-align: center;
  
}

