@use 'base/variables' as v;
.sucursales {
    margin: 1rem;
    h1 {
        text-align: center;
        margin: 0;
    }
    .cont-sucursal {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .atrasc,
        .adelante {
            color: v.$button;
            cursor: pointer;
            transition: color 0.8s ease;
            svg {
                height: 40px; /* Altura deseada */
                width: 40px;
            }
            &:hover {
                color: v.$buttonHover;
            }
        }
        .carrucel {
            width: 70%;
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .cont-img {
                width: 100%;
                height: 80vh;
                transition: width 1s ease-in;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .cont-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                opacity: 0;
                width: 0;
                transition: width 0.8s ease-in-out, opacity 1s ease-in;
                overflow: hidden;
                h2 {
                    text-align: center;
                }
            }
            &:hover {
                border: 1px solid black;
                .cont-img {
                    width: 70%;
                }
                .cont-info {
                    width: 30%;
                    opacity: 1;
                }
            }
        }
    }
}
