.cont-cards{
   background-color: rgb(255, 255, 255);
    width: 96%;
    height: auto;
    border:2 px solid;
    box-shadow: 4px 4px 1px 0.1px;
    border-radius: 10px;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .sec-comic{
        background-origin: 1rem;
        background-color: #ffffff;
        margin: 2rem;
        box-shadow: 4px 4px 1px 0.1px;
        border-radius: 10px;
        display:flexbox;
        padding: 2rem;
        gap: 1rem;

        width: 50%;
        .cont-img{
            
            margin-top: 2rem;
            width: 100%;
            img{
                width: 100%;
                height: 180%;
                border-radius: 10px ;
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);


            }

        }
        .inf-comic{
            h2{
                font-family: 'Times New Roman', Times, serif;

              
            }
            p{
                font-weight: 100;
              

            }

        }

    }
}
